
.navbar-wrapper {
    position: sticky;
    top: 0;
    /* z-index: 1000; */
}
.navbar-flex-container{
    display: flex;
    position: sticky;

    flex-direction: row;
     background-color: #6F6AF7;
     width: 100%;
     padding-left: 1rem;
     margin-left: -8px;
     margin-top: -8px;
     justify-content: center;
     font-size: 40px;
     z-index: 1000; /* Optional: Adjust z-index to make sure it's above other content */

  list-style-type: none;
  color: white;
}
.navbar-flex-container li {
    /* padding: 15px; */
    padding-right: 0.5rem;
    margin-left: 1rem;
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 1.7rem;

}

.div{
    padding: 0;
    margin: 0%;
    width: 190%;
}
.img1{
    height: 350px;
    width: 250px;  
}
.img2{
    height: 100px;
    width: 100px;  
    margin-top: -20px;
    margin-left: -20rem;
    margin-right: 12rem;
    margin-top: -8px;

}

.flex-container1 {
    display: flex;
    height: 310px;
    margin-top: 6rem;
    margin-left: 6rem;
    justify-content: center;
}

.rectangular-block p{
    margin-left: -17rem;
    margin-right: 2rem;
    color: #6F7373;
    font-family: sans-serif;
    line-height: 2; /* Double spacing between lines */

}

.rectangular-block {
    width: 370px;
    padding-left: 19rem;
    margin-left: 2rem;
    height: 350px;
    border-radius: 10px; 
    align-items: start; 
    background-color: #E5D8FF
}

.flex-container2 {
    display: flex;
    height: 50px;
    margin-top: 6rem;
    margin-left: 14rem;
    margin-right: 6rem;
    justify-content: space-evenly;

}

.flex-container2 > .rectangular-block1 {
    width: 190px; 
    height: 75px; 
    border-radius: 7px; 
    background-color:   #929DFF;
    margin-right: 1rem; 
    justify-content: center;
    
}
.rectangular-block1 p, .rectangular-block2 p, .rectangular-block3 p , .rectangular-block4 p{
    margin-top: 10px;
margin-left: 30px;
font-size:16px;
align-items: center;
color: #FFFFFF;
font-family: sans-serif;

}

.rectangular-block1 h3, .rectangular-block2 h3, .rectangular-block3 h3 , .rectangular-block4 h3{
font-size:16px;
font-style: none;
margin-bottom: 2rem;
align-items: center;
color: #FFFFFF;
margin-left: 30px;
}

.flex-container2 > .rectangular-block2{
    width: 190px; 
    height: 75px; 
    border-radius: 7px; 
    background-color:   #734CF2;
    margin-right: 2rem; 
}

.flex-container2 > .rectangular-block3 {
    width: 190px; 
    height: 75px; 
    border-radius: 7px; 
    background-color:  #D288FF ;
    margin-right: 2rem; 
}
.flex-container2 > .rectangular-block4 {
    width: 190px; 
    height: 75px; 
    border-radius: 7px; 
    background-color: #000000 ;
    margin-right: 2rem; 
}


.flex-container3 {
    display: flex;
    height: 300px;
    background-color: #483EFF;
    margin-top: 7rem;
    margin-left: 16rem;
    margin-right: 10rem;
    justify-content: center;

}

.block-with-rectangular {
    display: flex;
 flex-direction: column;
 justify-content: center;
 justify-content: space-evenly;
 margin-bottom: 1rem;


}

.rectangular-button1, .rectangular-button2, .rectangular-button3 {
    width: 170px; 
    height: 720px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border: 1px solid white; /* Adding border with white color */
    border-radius: 10px; 
    color: white;
    align-items: center; 
    justify-content: center;

}

.rectangular-button1 p, .rectangular-button2 p, .rectangular-button3 p{
    margin-top: 12px;
    margin-left: 30px;
    font-size:16px;
    align-items: center;
    color: #FFFFFF;
    font-family: sans-serif;
    
}
.rectangular-button1 {
   background-color: #BCE0F6;
   color: black;
}
.rectangular-button1 p{
    color: black;
 }
.block-with-text {
    margin-top: 11px;
margin-bottom: 1.2rem;
    margin-left:7rem;
    align-items: center; 
    background-color: white; 
    color: black; 
    width: 650px;
    border-radius: 10px; 

}

.block-with-text li {
    list-style-type: none;
    margin-bottom: 1.2rem;
  
}

.block-with-text h2 {
    margin-left: 1.5rem;
  
}

.search-container {
    position: relative;
    margin-left: 1rem;

}

.search-input {
    border-radius: 20px; /* Adjust border radius as needed */
    padding: 8px 30px 8px 10px; /* Adjust padding as needed */
    border: 1px solid #ccc;
    width: 150px;
}

.search-button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.search-button img {
    width: 17px; 
}
.img4{
    width: 35px; 
    margin-right: -100rem;
    margin-left: 9rem;
}

.fbimg{
    /* display: flex; */
    height: 40px;
    margin-right: -19rem;
      width:50%;
      margin-top: -31rem;
      margin-bottom: 2px;
      border: 2px solid black; 

}
.twiterimg{
    height: 40px;
    width:50%;
    margin-bottom: 2px;
    border: 2px solid black; 

}
.whatsappimg{
    height: 40px;
    width:50%;
    border: 2px solid black; 

}
.floating-icon {
    position: fixed;
    /* position: sticky; */
    top: 5;

    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 90px;
    z-index: 1000; 
    height: 40px;
}

.group2{
    position: fixed;
    margin-right: -64rem;
height: 100px;
}

@media screen and (max-width: 768px) {
    .navbar-flex-container {
        flex-direction: row;
        font-size: 20px;
        width: 100rem;

    }

    .navbar-flex-container li {
        margin-left: 0.2rem;
        margin-top: 0.2rem;
    }
}

@media screen and (max-width: 1200px) {
    .flex-container3 {
        margin-left: 6rem;
        margin-right: 6rem;
    }
}

@media screen and (max-width: 992px) {
    .flex-container3 {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .flex-container3 {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .flex-container3 {
        width: 30%;
        margin-left: 8rem;
        margin-right: 1rem;
    }
}